<div [@fadeIn]>
    <app-header title="电影"></app-header>
    <div class="main-container">
        <div class="hot-movie">
            <div class="title clearfix">
                <h2>{{hotMovieData.subject_collection.name}}</h2>
                <span class="more">更多</span>
            </div>
            <div class="movie-list">
                <ul class="movie-item-wrapper clearfix">
                    <li class="movie-item" *ngFor="let hotMovie of hotMovieData.subject_collection_items" (click)="movieDetail(hotMovie.id)">
                        <div>
                            <div class="img-wrapper">
                                <img src="{{hotMovie.cover.url}}">
                            </div>
                            <p class="movie-name">{{hotMovie.title}}</p>
                            <p class="movie-name">{{hotMovie.rating.value}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="new-free-movie">
            <div class="title clearfix">
                <h2>{{freeNewMovieData.subject_collection.name}}</h2>
                <span class="more">更多</span>
            </div>
            <div class="movie-list">
                <ul class="movie-item-wrapper clearfix">
                    <li class="movie-item" *ngFor="let freeNewMovie of freeNewMovieData.subject_collection_items" (click)="movieDetail(freeNewMovie.id)">
                        <div>
                            <div class="img-wrapper">
                                <img src="{{freeNewMovie.cover.url}}">
                            </div>
                            <p class="movie-name">{{freeNewMovie.title}}</p>
                            <p class="movie-name">评分:{{freeNewMovie.rating.value}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="new-free-movie">
            <div class="title clearfix">
                <h2>{{newMovieData.subject_collection.name}}</h2>
                <span class="more">更多</span>
            </div>
            <div class="movie-list">
                <ul class="movie-item-wrapper clearfix">
                    <li class="movie-item" *ngFor="let newMovie of newMovieData.subject_collection_items" (click)="movieDetail(newMovie.id)">
                        <div>
                            <div class="img-wrapper">
                                <img src="{{newMovie.cover.url}}">
                            </div>
                            <p class="movie-name">{{newMovie.title}}</p>
                            <p class="movie-name">评分:{{newMovie.rating.value}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <app-nav-tab></app-nav-tab>
</div>


