.header {
  z-index: 4;
  height: 44px;
  box-shadow: 2px 0 12px -6px #aaa;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  left: 0;
}

.header-left,
 .header-right {
  height: 100%;
  min-width: 40px;
  padding: 0 10px;
  line-height: 44px;
}

.header-title {
  height: 44px;
  width: 100%;
  text-align: center;
  line-height: 44px;  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 400;
  max-width: 60%;
}

.header-title img {
  max-height: 98%;
}

.header-title h1 {
  color: #00b600
}